page-lista-de-compras {
    ion-header {
      ion-toolbar {
        --ion-color-primary: #3880ff;
      }
    }
  
    ion-item {
      ion-label {
        font-size: 18px;
      }
    }
  
    ion-fab-button {
      --ion-background-color: #3880ff;
    }
  }
  