<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header title="Home"></app-header>
<ion-content [fullscreen]="true">
  
  <div class="ion-text-center">
    <h1>Bem-vindo à Minha Lista de Compras</h1>
    <p>Gerencie suas compras de forma simples e eficiente. Crie, adicione e remova itens da sua lista de compras com facilidade. Nunca esqueça um item importante novamente.</p>
    <p>Comece agora e simplifique suas compras diárias.</p>
    <p>Clique no botão abaixo para acessar sua lista de compras.</p>
    
    <ion-button expand="full" color="primary" routerLink="/list">Acessar Lista de Compras</ion-button>
    <ion-button expand="full" color="primary" routerLink="/cadastro">Adicionar Item a Lista de Compras</ion-button>
  </div>
 
</ion-content>
